.app{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #130f40;
}

.container{
  background: #ffff;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  min-width: 20rem;
}

/* Auth Style */
.group-auth{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

.group-auth a{
  color:#4834d4;
  text-decoration: none
}
.group-auth a:hover{
  text-decoration: underline;
}
.group-auth input{
  padding: 12px;
  margin: 5px;
  border: 1px solid #ccc;
}
.btn{
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin: 5px;
  transition-duration: 0.4s;
  font-size: 1.5em;
  font-weight: bold;
  background: #4834d4;
  color: white;
}

.auth-swap-btn{
  background: #6ab04c;
  font-size: 1rem;
  padding: 10px;
}
.group-auth span{
  display:block;
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #ccc
}
.btn:hover{
  filter: brightness(90%)
}

/* User Display */
.user-group{
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}